.buttonsContainer {
    margin: 50px;
}

.responseContainer {
    display: flex;
    justify-content: center;
}

.imageContainer {
    display: flex;
    align-items: center;
    margin-top: -54px;
}

.image {
    margin-right: 250px;
}

.textContainer {
    margin-top: 50px;

}

.code {
    font-size: 45px;
}

.text {
    font-size: 15px;
}

.info {
}